# Name des Docker-Netzwerks, in dem dein Nginx Proxy Manager läuft.
# Herausfinden: docker inspect <npm-container-name> --format '{{json .NetworkSettings.Networks}}'
NPM_NETWORK=nginx-proxy-manager_default
